<!-- start widget -->
<div class="widget">
	<div class="widget-avatar">
		<img src="/content/images/2017/08/Stephen.png" alt="Stephen Carter image">
	</div>
	<h4 class="title">Stephen Carter</h4>
	<div class="content">
		Speaker | HoloLens Developer | IT Consultant | Scrum Master | SSW VIC State Manager | Senior Software Architect
	</div>
</div>
<!-- end widget -->