<!-- start widget -->
<div class="widget">
	<h5 class="title">Published with Ghost</h5>
	<div class="content">
		This site is hosted on <a href="https://ghost.io">Ghost.io</a>, using a theme customised from <a href="https://themeforest.net/item/futura-responsive-minimal-ghost-theme/10330342">Futura</a> by <a href="https://themeforest.net/user/gbjsolution/portfolio">GBJsolution.</a>
	</div>
</div>
<!-- end widget -->