<!-- start tag cloud widget
<div class="widget">
	<h4 class="title">Subscribe Now</h4>
	<div class="content newsletter">
		
		<div id="mc_embed_signup">
			<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
				<div class="input-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email...">
				</div>
				<div class="input-group">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
				</div>
			</form>
		</div>
		<div id="message"></div>
	</div>
</div>
< end tag cloud widget -->

<div class="widget">
	<h4 class="title">Subscribe Now</h4>
	<div class="content newsletter">

		<div id="mc_embed_signup">
			<form action="https://stephencarter.us16.list-manage.com/subscribe/post?u=29aa8ad850c6050728f1fef8f&amp;id=7374e085d3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class=input-group>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>
				</div>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29aa8ad850c6050728f1fef8f_7374e085d3" tabindex="-1" value=""></div>
				<div class="input-group">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<!--End mc_embed_signup-->