<!-- start widget -->
<div class="widget">
	<h5 class="title">Copyright &copy; {{date format="YYYY"}} {{@blog.title}}</h5>
	<div class="content">
		Licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License.</a>
		Feel free to share, but always provide appropriate attribution.
	</div>
</div>
<!-- end widget -->