<!-- start widget -->
<div class="widget">
	<h4 class="title">Twitter</h4>
	<div class="content twitter">
		<!-- start code from publish.twitter.com -->
		<a class="twitter-timeline" data-height="300" href="https://twitter.com/StravrosTheGeek">Tweets by StravrosTheGeek</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!-- end code from publish.twitter.com -->
	</div>
</div>
<!-- end widget -->
